.mobile-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.mobile-mobile {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 40px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-background-background);
}
 
.mobile-header {
  gap: 44px;
  display: flex;
  padding: 136px 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.mobile-image1 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  border-radius: 30px;
  background-size: cover;
  background-image: url("public/tq_9_voj1url5-524-1500w.png");
}
 
.mobile-main {
  display: flex;
  z-index: 1;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.mobile-whoweare {
  gap: 40px;
  display: flex;
  padding: 120px 40px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.mobile-content1 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.mobile-text10 {
  color: var(--dl-color-text-caption);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.mobile-text11 {
  color: var(--dl-color-text-headline);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 110.00000238418579%;
}
 
.mobile-button1 {
  gap: 10px;
  display: flex;
  padding: 8px 12px 6px;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-accent-accent5);
}
 
.mobile-text12 {
  color: var(--dl-color-link-link);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.mobile-carousel {
  gap: 13.347587585449219px;
  display: flex;
  padding: 0 50px 75px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.mobile-image01 {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}
 
.mobile-image02 {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}
 
.mobile-image03 {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}
 
.mobile-image04 {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}
 
.mobile-image05 {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}
 
.mobile-title {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.mobile-text13 {
  color: var(--dl-color-text-headline);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 110.00000238418579%;
}
 
.mobile-text14 {
  color: var(--dl-color-text-body1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 139.9999976158142%;
}
 
.mobile-divider1 {
  width: 295px;
  height: 1px;
  align-self: stretch;
}
 
.mobile-whatwedo {
  gap: 40px;
  display: flex;
  padding: 100px 20px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.mobile-section1 {
  gap: 80px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.mobile-text15 {
  gap: 30px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.mobile-text16 {
  color: var(--dl-color-text-headline);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 110.00000238418579%;
}
 
.mobile-text17 {
  color: var(--dl-color-text-body1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 139.9999976158142%;
}
 
.mobile-divider2 {
  width: 255px;
  height: 1px;
  align-self: stretch;
}
 
.mobile-section2 {
  gap: 80px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.mobile-text18 {
  gap: 30px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.mobile-text19 {
  color: var(--dl-color-text-headline);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 110.00000238418579%;
}
 
.mobile-text20 {
  color: var(--dl-color-text-body1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 139.9999976158142%;
}
 
.mobile-divider3 {
  width: 255px;
  height: 1px;
  align-self: stretch;
}
 
.mobile-section3 {
  gap: 80px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.mobile-text21 {
  gap: 30px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.mobile-text22 {
  color: var(--dl-color-text-headline);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 110.00000238418579%;
}
 
.mobile-text23 {
  color: var(--dl-color-text-body1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 139.9999976158142%;
}
 
.mobile-divider4 {
  width: 255px;
  height: 1px;
  align-self: stretch;
}
 
.mobile-image2 {
  width: auto;
  height: 400px;
  align-self: stretch;
  border-radius: 30px;
}
 
.mobile-workwithus {
  gap: 40px;
  display: flex;
  padding: 150px 40px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.mobile-content2 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.mobile-text24 {
  color: var(--dl-color-text-headline);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 110.00000238418579%;
}
 
.mobile-button2 {
  gap: 10px;
  display: flex;
  padding: 8px 12px 6px;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-accent-accent5);
}
 
.mobile-text25 {
  color: var(--dl-color-link-link);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}
 
.mobile-footer1 {
  gap: 56px;
  height: 287px;
  display: flex;
  padding: 64px 24px;
  z-index: 2;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
  justify-content: space-between;
}
 
.mobile-text26 {
  gap: 24px;
  height: 79px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
 
.mobile-company {
  gap: 8px;
  display: flex;
  align-items: center;
}
 
.mobile-image3 {
  width: 177px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-size: cover;
  background-image: url("public/tq_ifuezmt6pn-522-200h.png");
}
 
.mobile-link1 {
  display: contents;
}
 
.mobile-nav {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.mobile-sociallinks {
  gap: 16px;
  display: flex;
  align-items: center;
}
 
.mobile-link2 {
  display: contents;
}
 
.mobile-sociallink1 {
  width: 24px;
  height: 24px;
}
 
.mobile-link3 {
  display: contents;
}
 
.mobile-sociallink3 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("public/tq_xtfhws40s--as9f-200h.png");
}
 
.mobile-nav-mobile {
  gap: 81px;
  width: 295px;
  height: 70px;
  display: flex;
  padding: 20px 16px;
  z-index: 3;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(89, 89, 89, 1);
  border-style: solid;
  border-width: 0 0 1px;
  flex-direction: column;
  background-color: var(--dl-color-background-background);
}
 
.mobile-content3 {
  gap: 941px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.mobile-text27 {
  color: var(--dl-color-link-link);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 92.00000166893005%;
  font-stretch: normal;
  text-decoration: none;
}
 
.mobile-icons {
  width: 30px;
  height: 30px;
}
 
.mobile-link4 {
  display: contents;
}
 
.mobile-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.mobile-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.mobile-text28 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
